*{margin: 0; padding: 0;}
body{
    background-color: #EEE8AE;
}

#wrapper{
    width: 764px;
    margin: 10PX auto;
}
#header{
    background-color: #FAB72A;
    padding: 10PX;
    border-bottom:3px solid darkgreen;
}

#header h2{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

#header p{
    color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav {
    background-color: white;
    height: 38px;
    border-bottom:3px solid darkgreen;
  }

#nav ul{
    background-color: white;
    list-style-type: none;
    z-index: 999;
}
#nav ul li{
    float: left;
    border-right: 1px solid darkgreen;
}

#nav ul li:last-child{
    border: none;
}

#nav ul li a{
    text-decoration: none;
    color: darkgreen;
    padding: 10px;
    display: block;
}

#nav ul li a:hover{
    color: greenyellow;
}

#nav ul li{
    position: relative;
}

#nav ul li:hover ul{
    left: 0; 
}


#nav ul li ul{
    position: absolute;
    left: -9999px;
    
}
#nav ul li ul li{
    float: none;
    border-right: none;
    border-bottom: 3px solid darkgreen;
    width:150px;

}

#nav ul li ul li:first-child{
   border-top: 3px solid darkgreen;
}

#slider img{
    vertical-align: middle;
}

#content_wrapper{
    background-color: white;
    border-top: 5px solid darkgreen;
    padding: 14px;
    min-height: 150px;
    overflow: hidden;
}

#content{
    width: 480px;
    margin-right: 10px;
    
    float: left;
}

#aside{
    width: 240px;
    margin-left: 5px;
    float:left;
   
}

#aside ul li{
    list-style-type: circle ;
}

#aside ul li a{
   text-decoration: none;
   padding: 3px;
   display: block;
}

#footer{
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
}








/*
.nivoSlider {
    width: 60%;
}

.theme-dark.slider-wrapper {
    background: none;
    margin-left: 300px;
}

.nivo-caption {
    left: 0px;
    bottom: 31px;
    width: 40%;
}
*/

