.box1{
    height: 150px;
    width: 150px;
    background-color: red;
    left: 0;
    top: 0;
    position: relative;
    z-index: 8;
}
.box2{
    height: 150px;
    width: 150px;
    background-color: orange;
    left: 50px;
    top: -50px;
    position: relative;
    z-index: 7;
}
.box3{
    height: 150px;
    width: 150px;
    background-color: yellow;
    left: 100px;
    top: -100px;
    position: relative;
    z-index: 6;
}