@font-face {
    font-family: RubikPuddles-Regular;
    src: url(../font/RubikPuddles-Regular.eot) format(eot),
    url(../font/RubikPuddles-Regular.ttf) format(ttf),
    url(../font/RubikPuddles-Regular.svg#RubikPuddles-Regular) format(svg),
    url(../font/RubikPuddles-Regular.woff) format(woff);
}

@font-face {
    font-family: SolaimanLipi;
    src: url(../font/SolaimanLipi.ttf);
}